*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}

body{
  display:  flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

}
.container{
  border-style: solid;
  border-width: 11px 5px 10px 11px;
  border-bottom: 10px solid grey;
  border-left: 11px solid grey;
  border-image:linear-gradient(80deg,lightgrey,lightgrey,blue);
  border-image-slice: 1;
}
.box{
  width: 500px;
  background: white;
  padding: 25px 30px;
  
  
}


.btn1{
  height: 66px;
  width: 47%;
  font-size: 20px;
  background-color: white;
  margin-bottom: 20px;

}

.btn2{
  height: 66px;
  width: 47%;
  font-size: 20px;
  background-color: lightgrey;
  color: blue;
  border-color: blue;
  margin-left: 20px;
  margin-bottom: 20px;
}


.input_info input{
  height: 50px;
  width: 100%;
  border: 2px solid lightgrey;
  
  color: black;
}
.intro_2{
  color: grey;
  font-weight: bold;
  padding-top: 22.5px;
  padding-bottom: 22.5px;

}

input{
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: grey;
  font-weight: bold;
  padding-top: 22.5px;
  padding-bottom: 22.5px;
}
.code{
  height: 50px;
  width: 24%;
  border: 2px solid blue; 
  color: grey;

}
.number{
  height: 50px;
  width: 74%;
  border: 2px solid blue;
  border-radius: 5px;
  color: grey;
  background-color: lightgrey;
  
}


.next_step{
  background-color: blue;
  color: white;
  padding: 25px 25px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 66px;
  width: 100%;

}

/* This is for the Design and project button, if the need is to hover the button 
  after putting a cursor on it you can use this.
li:hover, a:hover,li:active, a:active{
  border-color: blue;
  background-color: lightgrey;
  color: blue;
}
.project_btn{
  margin-left: 30px;
}

/*
.code:hover,.code:active,.number:hover,.number:active{
  border-color: blue;
  color: black;
}*/